* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.heading_section {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0 6%;
    margin-bottom: 4%;
    margin-top: 2%;
}
.header_text {
    color: #88929a;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.navigation_icons {
    text-align: center;
}
.navigation_icons_left {
    list-style: none;
    display: flex;
}
.navigation_icons_left li {
    padding: 8px 20px;
}
.navigation_icons_left li a {
    text-decoration: none;
    font-size: 17px;
    color: #88929a;
}
.other_icons {
    list-style: none;
    display: flex;
    gap: 35px;
}
#checking{
    display: none;
}
.checkbutton i{
    display: none;
}
.icons {
    text-align: right;
}
.cover_pic {
    width: 100%;
    text-align: right;
    z-index: 1;
    position: relative;
}
.product_benefits_heading h2,
.service_experience_text h2,
.process_experience_heading h2,
.feedback_heading h2,
.about h2 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
}
.intro p
.service_experience_text p,
.process_experience_text p,
.customer_feedback p,.about p,.Luxterior p
{
    font-size: 13px;
}
.intro {
    background-color: #5a6e79;
    font-family: 'Poppins', sans-serif;
    width: 48%;
    color: #fcfffd;
    position: absolute;
    top: 12%;
    z-index: 2;
    padding: 2% 4% 2% 28%;
}
.intro h2 {
    font-size: 25px;
}
.arrow_cover {
    background-color: #5a6e79;
    width: 14%;
    height: 26%;
    padding: 5%;
    position: absolute;
    top: 66%;
    right: 5%;
    color: #fcfffd;
    z-index: 2;
    transform: translate(12%, 40%);
}
.arrow_cover i {
    font-size: 48px;
}
.square {
    position: absolute;
    left: 18%;
    top: 83%;
    z-index: 0;
    border: 2px solid black;
    width: 11%;
    z-index: -1;
    height: 22%;
}
.vertical_line2 {
    height: 35px;
    background-color: black;
    width: 2px;
    margin-right: 8px;
}
.benifits_icon1,.benifits_icon3 {
    font-size: 36px;
    padding-right: 30px;
}
.benifits_icon2{
    font-size: 36px;
    padding-right: 24px;
}
.cover_pic img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 6%;
    z-index: 1;
}
.cover_pic_icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    top: 12%;
}
.cover_pic_icons ul li {
    list-style: none;
}
.display_contents {
    margin-top: 45px;
}
.product_benefits {
    font-family: 'Poppins', sans-serif;
    margin-top: 8%;
}
.product_benefits_heading h2 {
    flex: 1;
}
.quality h3,
.delivery h3,
.warranty h3 {
    font-size: 29px;
    margin: 0;
}
.quality p,
.delivery p,
.warranty p {
    font-size: 13px;
}
.row_container ,.product_benefits_heading,.customer_feedback {
    display: flex;
}
.horizondal_line {
    width: 8%;
    text-align: left;
    margin-left: 0;
    margin-top: 40px;
    margin-right: 40px;
    height: 3px;
    background-color: black;
}
.benefits {
    display: flex;
    margin-top: 5%;
    gap: 10%;
    font-family: 'Poppins', sans-serif;
}
.benefits h2 {
    margin: 0;
}
.service_image {
    width: 38%;
}
.service_process_image {
    max-width: 40%;
}
.service_image img ,.service_process_image img{
    width: 100%;
}
.service_experience {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}
.service_experience_text,.feedback {
    font-family: 'Poppins', sans-serif;
}
.learn_more i {
    font-size: 42px;
    position: absolute;
    left: 88%;
    padding-top: 8px;
    top: -10%;
}
.numbers_of_experience {
    display: flex;
    margin: 8% 0;
    gap: 10%;
}
.numbers_of_experience h2 {
    color: #88929a;
    text-align: left;
    font-size: 40px;
    margin: 0;
}
.learn_more {
    background-color: transparent;
    width: 156px;
    height: 50px;
    border-color: black;
    cursor: pointer;
    font-size: 17px;
    position: relative;
}
.process_experience {
    display: flex;
    margin-top: 12%;
    margin-bottom: 3%;
    justify-content: space-between;
}
.process_experience_heading{
    font-family: 'Poppins', sans-serif;
    width: 50%;
    padding-right: 2%;
}
.process_experience_heading h2{
    margin-bottom: 10%;
}
.process_experience_text h3 {
    margin-top: 4%;
    font-size: 29px;
}
.numbers h4 {
    background-color: #5a6e79;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fcfffd;
    padding: 13px;
}
.numbers {
    display: flex;
    padding-right: 8%;
    flex-direction: column;
}
.vertical_line1 {
    height: 60%;
    background-color: black;
    width: 2px;
    margin-left: 25px;
    flex: 1;
}
.feedback_heading {
    display: flex;
    justify-content: space-between;
}
.feedback_arrow_icon i {
    font-size: 36px;
}
.fa-arrow-left {
    color: #b3babe;
}
.feedback_arrow_icon {
    display: flex;
    gap: 22px;
    margin-top: 4%;
}
.feedback1 i,
.feedback2 i {
    font-size: 45px;
}
.feedback1,
.feedback2 {
    background-color: #5a6e79;
    margin: 2%;
    padding: 40px;
    color: #fcfffd;
}
.feedback1 {
    margin-left: 0;
}
.feedback2 {
    margin-right: 0;
}
.feedback img {
    height: 40px;
    width: 40px;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 50%;
}
.user_name {
    margin-bottom: 0;
}
.user_type {
    margin-top: 0;
}
.about {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}
footer{
    background-color: #5a6e79;
}
.inner_bottom {
    font-family: 'Poppins', sans-serif;
    color: #fcfffd;
    padding: 8% 0;
    margin: 0;
    position: relative;
}
.inner_bottom_content {
    display: flex;
    justify-content: space-between;
}
.subscription_box {
    display: flex;
    text-align: center;
    position: absolute;
    margin-top: -11%;
    margin-left: 25%;
    width: 50%;
    background-color: #fcfffd;
    box-shadow: 2px 3px 5px 3px #888888;
    justify-content: space-between;
    padding: 1%;
}
.subscribe {
    background-color: #5a6e79;
    color: #fcfffd;
    height: 45px;
    width: 20%;
    border: none;
}
.email_address {
    width: 40%;
    height: 45px;
    border: none;
}
.inner_bottom a {
    color: #fcfffd;
    text-decoration: none;
    position: relative;
}
.about_links,
.company_links,
.support_links,
.social_media_links,
.social_media_icons {
    list-style: none;
}
.social_media_icons {
    display: flex;
    gap: 30px;
    font-size: 25px;
    cursor: pointer;
}
.container {
    max-width: 1200px;
    margin: auto;
}
@media (min-width: 1400px) and (max-width:1800px) {
    .intro {
        top: 22%;
        width: 52%;
        padding: 1% 4% 2% 18%;
    }
    .service_process_image {
        max-width: 40%;
    }
    .square {
        top: 86%;
        width: 11%;
        height: 18%;
    }
    }
@media (min-width: 1200px) and (max-width:1400px) {
    .heading_section {
        padding: 2% 7%;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 30px;
    }
    #checking{
        display: none;
    }
    .intro {
        top: 26%;
        width: 46%;
        padding: 2% 1% 4% 10%;
    }
    .checkbutton i{
        display: none;
    }
    .service_process_image{
        max-width: 40%;
    }
    .quality h3,
    .delivery h3,
    .warranty h3 {
        font-size: 23px;
    }
}
@media (min-width: 1024px) and (max-width:1200px) {
    .intro {
        top: 22%;
        padding: 3% 1% 5% 12%;
    }
    .quality h3, .delivery h3, .warranty h3 {
        font-size: 27px;
        margin: 0;
    }
    .service_experience_text {
        padding-left: 4%;
    }
    .service_process_image {
        margin-top: 8%;
        max-width: 40%;
    }
    .process_experience,.feedback,.service_experience,.product_benefits
    {
        padding: 0 4%;
    }
    .process_experience_text h3 {
        margin-top: 4%;
        font-size: 20px;
    }
    .inner_bottom {
        padding: 6% 2%;
    }
    .subscription_box {
        margin-top: -9%;
    }
}
@media (min-width: 901px) and (max-width:1024px) {
    .heading_section {
        padding: 2% 8%;
        margin-bottom: 0;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 28px;
    }
    #checking{
        display: none;
    }
    .checkbutton i{
        display: none;
    }
    .intro {
        top: 34%;
        padding: 4% 1% 4% 10%;
    }
    .intro h2 {
        margin: 0;
    }
    .quality h3,
    .delivery h3,
    .warranty h3 {
        font-size: 20px;
    }
    .service_image {
        width: 60%;
    }
    .service_experience_text {
        padding-left: 5%;
    }
    .service_process_image {
        max-width: 50%;
        margin-top: 8%;
    }
    .process_experience_text {
        padding-right: 25%;
    }
    .process_experience,.feedback,.service_experience,.product_benefits,.inner_bottom
    {
        padding: 0 4%;
    }
    .subscription_box{
        margin-top: -9%;
        margin-left: 22%;
    }
    .inner_bottom {
        padding: 6% 2%;
    }
}
@media (min-width: 800px) and (max-width:900px){
    .intro {
        top: 20%;
        width: 52%;
        padding: 2% 1% 3% 12%;
    }
    .cover_pic_icons ul li {
        font-size: 2%;
    }
    .process_experience,.feedback,.service_experience,.product_benefits
    {
        padding: 0 4%;
    }
    .product_benefits_heading h2, .service_experience_text h2, .process_experience_heading h2, .feedback_heading h2, .about h2 {
        font-weight: bold;
        font-size: 32px;
    }
    .service_image {
        margin-top: 6%;
        width: 88%;
    }
    .service_process_image {
        margin-top: 20%;
        max-width: 45%;
    }
    .service_experience_text {
        padding-left: 8%;
        margin-top: 5%;
    }
    .process_experience_heading{
        padding-right: 2%;
    }
    .inner_bottom {
        padding: 8% 2%;
    }
}
@media (min-width: 768px) and (max-width:800px){
    .heading_section {
        padding: 2% 7%;
        font-size: 18px;
        margin-bottom: 0;
    }
    .intro {
        top: 24%;
        width: 52%;
        padding: 2% 1% 3% 11%;
    }
    .intro h2 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    .navigation_icons_left li a {
        font-size: 15px;
    }
    .other_icons{
        flex: 1;
        padding-top: 26px;
        margin: auto;
    }
    .display_contents li {
        font-size: 1px;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 25px;
    }
    .quality h3,
    .delivery h3,
    .warranty h3 {
        font-size: 18px;
    }
    .service_image {
        max-width: 50%;
        position: relative;
    }
    .process_experience,.feedback,.service_experience,.product_benefits
    {
        padding: 0 4%;
    }
    .inner_bottom{
        padding: 5%;
    }
    .service_process_image {
        width: 60%;
        margin-top: 24%;
    }
    .process_experience_text {
        padding-right: 8%;
    }
    .learn_more {
        position: absolute;
        left: 57%;
        width: 130px;
        height: 45px;
    }
    .service_experience_text {
        padding-left: 7%;
    }
    .process_experience {
        margin-top: 6%;
   }
    .process_experience_text_content {
        margin-top: 20%;
    }
    .process_experience_text h3 {
        margin-top: 4%;
        font-size: 18px;
    }
    .numbers_of_experience h2 {
        font-size: 25px;
    }
    .feedback_arrow_icon i {
        font-size: 28px;
    }
    .feedback1 i, .feedback2 i {
        font-size: 30px;
    }
    .feedback1, .feedback2 {
        padding: 22px;
    }
    .subscription_box {
        margin-left: 16%;
        width: 58%;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    nav input{
        display: none;
    }
    .header_text{
        flex: 3;
        margin-top: 0;
        font-size: 40%;
    }
    .checkbutton i{
        display: block;
    }
    #navLinks{
        position: absolute;
        top: 20px;
        right: 47px;
        z-index: 3;
        text-align: right;
    }
    #checking:checked ~ .navigation_icons_left{
        display: block;
        background-color: #5a6e79;
        position: fixed;
        top:50px;
        right: 1px;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    .navigation_icons_left{
        display: none;
    }
    .navigation_icons{
        flex: 1;
    }
    .navigation_icons_left li a{
        color: #fcfffd;
        font-size: 1px;
    }
    .other_icons{
        flex: 1;
        padding: 0;
        margin: -5px;
    }
    .other_icons li:last-child{
        display: none;
    }
    .heading_section {
        padding: 2% 19px;
        margin-bottom: 0;
    }
    .learn_more i {
        font-size: 29px;
        position: absolute;
        left: 94%;
        padding-top: 8px;
        top: -3%;
    }
    .benefits,
    .service_experience,
    .customer_feedback {
        flex-direction: column;
    }
    .product_benefits {
        font-family: 'Poppins', sans-serif;
        margin-top: 12%;
        padding: 0 4%;
    }
    .intro {
        top: 12%;
        width: 71%;
        padding: 2% 1% 3% 6%;
    }
    .intro h2 {
        font-size: 18px;
        margin: 0;
    }
    .intro p {
        font-size: 1px;
        margin: 0;
    }
    .arrow_cover i {
        font-size: 30px;
        padding: 12%;
    }    
    .arrow_cover {
        padding: 4%;
    }
    .cover_pic_icons{
        display: none;
    }
    .horizondal_line {
        margin-right: 24px;
    }
    .quality h3, .delivery h3, .warranty h3 {
        font-size: 20px;
        margin: 0;
    }
    .product_benefits_heading h2, .service_experience_text h2, .process_experience_heading h2, .feedback_heading h2, .about h2 {
        font-size: 24px;
    }
    .service_image {
        width: 70%;
        padding: 0;
        margin-bottom: 4%;
    }
    .learn_more {
        width: 109px;
        height: 42px;
    }    
    .inner_bottom_content {
        flex-direction: column;
        padding-left: 5%;
    }
    .process_experience {
        display: flex;
        flex-direction: column;
        margin-top: 6%;
        justify-content: space-between;
    }
    .process_experience_heading {
        width: 100%;
    }
    .service_process_image {
        padding-top: 8%;
        max-width: 60%;
    }
    .subscription_box {
        margin-left: 6%;
        width: 89%;
    }
    .process_experience_heading h2 {
        margin-bottom: 4%;
    }
    .process_experience,.feedback,.service_experience
    {
        padding: 0 4%;
    }
    .process_experience_text h3 {
        margin-top: 5%;
        font-size: 18px;
    }
    .numbers_of_experience {
        gap: 18%;
    }
    .feedback_arrow_icon i {
        font-size: 25px;
    }
    .feedback_arrow_icon {
        gap: 8px;
    }
    .feedback1 i, .feedback2 i {
        font-size: 35px;
    }
    .feedback1, .feedback2 {
        padding: 25px;
        margin: 2% 0;
    }
    .about_links, .company_links, .support_links, .social_media_links, .social_media_icons {
        padding: 0;
    }
}
@media (min-width: 374px) and (max-width: 425px) {
    nav input{
        display: none;
    }
    .header_text {
        flex: 3;
        margin-top: 0;
        font-size: 17px;
    }
    .checkbutton i{
        display: block;
    }
    #navLinks{
        position: absolute;
        top: 16px;
        right: 47px;
        z-index: 3;
        text-align: right;
    }
    #checking:checked ~ .navigation_icons_left{
        display: block;
        background-color: #5a6e79;
        position: fixed;
        top:50px;
        right: 1px;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    .navigation_icons{
        flex: 1;
    }
    .navigation_icons li {
        display: block;
    }
    .navigation_icons_left {
        font-size: 1px;
        display: none;
    }
    .navigation_icons_left li a{
        color: #fcfffd;
    }
    .heading_section {
        padding: 3% 19px;
    }
    .navigation_icons_left li {
        padding: 1px 12px;
    }
    .other_icons {
        margin: 1px;
    }
    .other_icons{
        flex: 1;
        padding: 0;
        margin: -5px;
    }
    .cover_pic img {
        padding: 0;
    }
    .numbers_of_experience {
        gap: 15%;
    }
    .square,
    .arrow_cover,
    .cover_pic_icons {
        display: none;
    }
    .benefits,
    .service_experience,
    .customer_feedback {
        flex-direction: column;
    }
    .intro {
        top: 52%;
        width: 100%;
        padding: 2% 1% 3% 5%;
    }
    .intro h2 {
        font-size: 17px;
        margin: 0;
    }
    .intro p {
        font-size: 3px;
    }
    .other_icons li:last-child{
        display: none;
    }
    .product_benefits {
        margin-top: 180px;
    }
    .quality h3, .delivery h3, .warranty h3 {
        font-size: 19px;
    }
    .service_experience_text {
        padding-left: 0;
    }
    .service_image {
        margin-bottom: 4%;
        width: 100%;
    }
    .learn_more {
        left: 0;
        width: 120px;
        height: 45px;
    }
    .learn_more i {
        font-size: 26px;
        position: absolute;
        left: 94%;
        padding-top: 8px;
        top: 1%;
    }
    .horizondal_line {
        margin-right: 21px;

    }
    .process_experience_heading h2 {
        margin:4% 0;
    }
    .process_experience_heading{
        width: 100%;
    }
    .process_experience_text h3 {
        margin-top: 10%;
        font-size: 17px;
    }
    .process_experience {
        flex-direction: column;
        margin-top: 0;
    }
    .process_experience,.feedback,.service_experience,.product_benefits
    {
        padding: 0 4%;
    }
    .service_process_image {
        padding-top: 7%;
        max-width: 100%;
        margin-bottom: 5%;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 22px;
    }
    .numbers_of_experience {
        gap: 15%;
    }
    .feedback_arrow_icon {
        gap: 9px;
    }
    .feedback1 i, .feedback2 i {
        font-size: 33px;
    }
    .feedback_arrow_icon i {
        font-size: 25px;
    }
    .feedback1, .feedback2 {
        padding: 30px;
        margin: 2% 0;
    }
    .subscription_box {
        margin-left: 3%;
        width: 80%;
    }
    .about {
        text-align: center;
        margin-top: 8%;
        margin-bottom: 18%;
    }
    .inner_bottom {
        padding:0 8%;
    }
    .inner_bottom_content {
        flex-direction: column;
    }
    .about_links, .company_links, .support_links, .social_media_links, .social_media_icons {
        padding: 0;
    }
}
@media (min-width: 320px)  and (max-width: 374px) {
    nav input{
        display: none;
    }
    .header_text{
        flex: 3;
        margin-top: 0;
        font-size: 17px;
    }
    .checkbutton i{
        display: block;
    }
    #navLinks{
        position: absolute;
        top: 16px;
        right: 13px;
        z-index: 3;
        text-align: right;
    }
    #checking:checked ~ .navigation_icons_left{
        display: block;
        background-color: #5a6e79;
        position: fixed;
        top:50px;
        right: 1px;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    .navigation_icons{
        position: relative;
    }
    .navigation_icons li {
        display: block;
    }
    .navigation_icons_left {
        font-size: 1px;
        display: none;
    }
    .navigation_icons_left li a{
        color: #fcfffd;
    }
    .other_icons{
        flex: 1;
        padding-top: 80%;
        margin: 0;
        padding-left: 0;
    }
    .other_icons li:last-child{
        display: none;
    }
    #checking:checked ~ .navigation_icons_left{
        display: block;
        background-color: #5a6e79;
        position: fixed;
        top:50px;
        right: 1px;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    .cover_pic {
        padding: 0%;
    }
    .cover_pic img {
        padding: 0;
    }
    .benefits,
    .service_experience,
    .customer_feedback {
        flex-direction: column;
    }
    .heading_section {
        font-size: 3px;
        padding: 4% 15px;
        margin-bottom: 0;
    }
    .arrow_cover {
        width: 10%;
        height: 9%;
        bottom: -2%;
    }
    .square,
    .arrow_cover,
    .cover_pic_icons {
        display: none;
    }
    .arrow_cover i {
        font-size: 24px;
    }
    .navigation_icons_left li a {
        font-size: 9px;

    }
    .navigation_icons_left li {
        padding: 2px 14px;
    }
    .square {
        left: 21%;
        bottom: -3%;
        width: 8%;
        height: 7%;
    }
    .intro {
        top: 45%;
        width: 100%;
        padding: 2% 7%;
        font-size: 13px;
    }
    .intro h2 {
        font-size: 16px;
        margin: 0;
    }
    .intro p {
        font-size: 1%;
    }
    .horizondal_line {
        margin-right: 17px;
    }
    .service_image {
        width: 100%;
        padding: 0;
        margin-bottom: 5%;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 22px;
    }
    .quality h3,
    .delivery h3,
    .warranty h3 {
        font-size: 16px;
    }
    .product_benefits {
        margin-top: 51%;
    }
    .service_experience_text {
        padding-left: 4%;
    }
    .learn_more {
        left: 73px;
        width: 115px;
        height: 38px;
    }
    .learn_more i {
        font-size: 26px;
        position: absolute;
        left: 95%;
        padding-top: 8px;
        top: -5%;
    }
    .numbers h4 {
        height: 45px;
        width: 45px;
    }
     .process_experience,.feedback,.service_experience,.product_benefits,.inner_bottom
    {
        padding: 0 4%;
    }
    .process_experience_heading h2 {
        left: 7%;
    }
    .process_experience_heading{
        width: 100%;
    }
    .process_experience_text h3 {
        margin-top: 12%;
        font-size: 17px;
    }
    .process_experience {
        flex-direction: column;
        margin-top: 16%;
    }
    .service_process_image {
        padding-top: 7%;
        max-width: 100%;
        margin-bottom: 5%;
    }
    .feedback_arrow_icon {
        gap: 5px;
    }
    .feedback1,
    .feedback2 {
        background-color: #5a6e79;
        margin: 2% 0;
        padding: 18px;
    }
    .feedback1 i, .feedback2 i {
        font-size: 33px;
    }
    .feedback_arrow_icon i {
        font-size: 25px;
    }
    .display_contents li {
        font-size: 1px;
    }
    .numbers_of_experience {
        gap: 10%;
    }
    .numbers_of_experience h2 {
        font-size: 22px;
    }
    .subscription_box {
        margin-left: -3%;
        width: 90%;
        margin-top: -7%;
    }
    .about_links h3, .company_links h3, .support_links h3, .social_media_links h3, .social_media_icons h3{
        margin-bottom: 3px;
    }
    .about_links, .company_links, .support_links, .social_media_links, .social_media_icons {
        padding: 0;
    }
    .inner_bottom {
        padding: 0 8%;
    }
    .inner_bottom_content {
        flex-direction: column;
        margin-top: 6%;
    }
}
