* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.inner_class {
    background-color: white;
    padding: 0;
    margin: 0;
}
.heading_section {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 2%;
}
.header_text {
    color: #88929a;
    font-family: 'Poppins', sans-serif;
}
.navigation_icons {
    text-align: center;
}
.navigation_icons_left {
    list-style: none;
    display: flex;
}
.navigation_icons_left li {
    padding: 8px 20px;
}
.navigation_icons_left li a {
    text-decoration: none;
    font-size: 17px;
    color: #88929a;
}
.other_icons {
    list-style: none;
    display: flex;
    gap: 35px;
}
#checking{
    display: none;
}
.checkbutton i{
    display: none;
}
.icons {
    text-align: right;
}
.cover_pic {
    width: 100%;
    text-align: right;
    align-items: end;
    z-index: 1;
    display: flex;
}
.product_benefits_heading h2,
.service_experience_text h2,
.process_experience_heading h2,
.feedback_heading h2,
.about h2 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
}
.intro {
    background-color: #5a6e79;
    font-family: 'Poppins', sans-serif;
    width: 46%;
    color: #fcfffd;
    position: absolute;
    top: 20%;
    z-index: 2;
    padding: 2% 4% 1% 30%;
}
.intro h2 {
    font-size: 25px;
}
.arrow_cover {
    background-color: #5a6e79;
    width: 8%;
    height: 6%;
    padding: 3%;
    position: absolute;
    top: 40%;
    right: 28%;
    color: #fcfffd;
    z-index: 2;
}
.arrow_cover i {
    font-size: 48px;
}
.square {
    position: absolute;
    left: 36%;
    top: 44%;
    z-index: 0;
    border: 2px solid black;
    width: 4%;
    height: 6%;
}
.vertical_line2 {
    height: 35px;
    background-color: black;
    width: 2px;
    margin-right: 8px;
}
.benifits_icon {
    font-size: 36px;
    padding-right: 30px;
}
.cover_pic img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
    width: 100%;
    padding-left: 20%;
    padding-right: 6%;
    z-index: 1;
}
.cover_pic_icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25%;
    top: 19%;
}
.cover_pic_icons ul li {
    list-style: none;
}
.display_contents {
    margin-top: 80px;
}
.product_benefits {
    font-family: 'Poppins', sans-serif;
    padding: 5%;
}
.product_benefits_heading {
    display: flex;
}
.product_benefits_heading h2 {
    flex: 1;
    margin: 0;
}
.quality h3,
.delivery h3,
.warranty h3 {
    font-size: 29px;
    margin: 0;
}
.row_container {
    display: flex;
}
.horizondal_line {
    width: 8%;
    text-align: left;
    margin-left: 0;
    margin-top: 40px;
    margin-right: 40px;
    height: 3px;
    background-color: black;
}
.benefits {
    display: flex;
    margin-top: 5%;
    gap: 10%;
    font-family: 'Poppins', sans-serif;
}
.benefits h2 {
    margin: 0;
}
.service_image {
    width: 34%;
}
.service_image img {
    width: 100%;
}
.service_experience {
    padding-top: 7%;
    display: flex;
    padding: 5%;
}
.service_experience_text {
    font-family: 'Poppins', sans-serif;
    padding-left: 15%;
}
.service_experience_text h2,
.process_experience_heading h2 {
    margin: 0;
}
.service_experience_text i {
    font-size: 36px;
    position: absolute;
    left: 55%;
    padding-top: 8px;
}
.numbers_of_experience {
    display: flex;
    padding-bottom: 6%;
    gap: 10%;
}
.numbers_of_experience h2 {
    color: #88929a;
    text-align: left;
    font-size: 40px;
    margin: 0;
}
.learn_more {
    background-color: transparent;
    width: 156px;
    height: 50px;
    border-color: black;
    cursor: pointer;
    font-size: 17px;
}
.process_experience {
    display: flex;
    padding-top: 10%;
    margin-bottom: 3%;
    padding: 5%;
    justify-content: space-between;
}
.process_experience_heading {
    font-family: 'Poppins', sans-serif;
}
.process_experience_text h3 {
    margin-top: 8%;
}
.numbers h4 {
    background-color: #5a6e79;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fcfffd;
    padding-top: 12px;
}
.numbers {
    display: flex;
    padding-right: 8%;
    flex-direction: column;
}
.vertical_line1 {
    height: 85px;
    background-color: black;
    width: 2px;
    margin-left: 20px;
}
.service_process_image {
    width: 35%;
}
.service_process_image img {
    width: 100%;
}
.feedback {
    font-family: 'Poppins', sans-serif;
    padding: 1% 5%;
}
.feedback_heading {
    display: flex;
    justify-content: space-between;
}
.feedback_arrow_icon i {
    font-size: 36px;
}
.fa-arrow-left {
    color: #b3babe;
}
.feedback_arrow_icon {
    display: flex;
    gap: 22px;
    margin-top: 4%;
}
.feedback1 i,
.feedback2 i {
    font-size: 45px;
}
.customer_feedback {
    display: flex;
}
.feedback1,
.feedback2 {
    background-color: #5a6e79;
    margin: 2%;
    padding: 40px;
    color: #fcfffd;
}
.feedback1 {
    margin-left: 0;
}
.feedback2 {
    margin-right: 0;
}
.feedback img {
    height: 40px;
    width: 40px;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 50%;
}
.user_name {
    margin-bottom: 0;
}
.user_type {
    margin-top: 0;
}
.about {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}
.inner_bottom {
    font-family: 'Poppins', sans-serif;
    background-color: #5a6e79;
    color: #fcfffd;
    padding: 8%;
    margin: 0;
    position: relative;
}
.inner_bottom_content {
    display: flex;
    justify-content: space-between;
}
.subscription_box {
    display: flex;
    text-align: center;
    position: absolute;
    margin-top: -11%;
    margin-left: 16%;
    width: 50%;
    background-color: #fcfffd;
    box-shadow: 2px 3px 5px 3px #888888;
    justify-content: space-between;
    padding: 1%;
}
.subscribe {
    background-color: #5a6e79;
    color: #fcfffd;
    height: 45px;
    width: 20%;
    border: none;
}
.email_address {
    width: 40%;
    height: 45px;
    border: none;
}
.inner_bottom a {
    color: #fcfffd;
    text-decoration: none;
    position: relative;
}
.about_links,
.company_links,
.support_links,
.social_media_links,
.social_media_icons {
    list-style: none;
}
.social_media_icons {
    display: flex;
    gap: 30px;
    font-size: 25px;
    cursor: pointer;
}
.container {
    max-width: 1200px;
    margin: auto;
}
@media (min-width: 1020px) and (max-width:1400px) {
    .heading_section {
        padding: 2% 7%;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 30px;
    }
    #checking{
        display: none;
    }
    .intro {
        width: 46%;
        top: 20%;
        padding: 2% 11%;
    }
    .checkbutton i{
        display: none;
    }
    .arrow_cover {
        width: 11%;
        height: 10%;
        padding: 4%;
        top: 40%;
        right: 10%;
    }
    .square {
        left: 23%;
        top: 44%;
        width: 8%;
        height: 6%;
    }
    .quality h3,
    .delivery h3,
    .warranty h3 {
        font-size: 23px;
    }
    .cover_pic_icons {
        bottom: 35%;
    }
    .service_experience_text i {
        font-size: 44px;
        left: 59%;
    }
}
@media (min-width: 901px) and (max-width:1024px) {
    .heading_section {
        padding: 2% 8%;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 28px;
    }
    #checking{
        display: none;
    }
    .checkbutton i{
        display: none;
    }
    .intro {
            width: 46%;
            top: 10%;
            padding: 2% 11%;
    }
    .intro h2 {
        margin: 0;
    }
    .arrow_cover {
        width: 13%;
        height: 9%;
        padding: 4%;
        top: 34%;
        right: 4%;
    }
    .square {
        left: 18%;
        top: 35%;
        width: 9%;
        height: 5%;
    }
    .cover_pic_icons {
        bottom: 22%;
    }
    .quality h3,
    .delivery h3,
    .warranty h3 {
        font-size: 20px;
    }
    .service_image {
        width: 60%;
    }
    .service_experience_text {
        padding-left: 10%;
    }
    .service_experience_text i {
        font-size: 45px;
        left: 68%;
    }
    .service_process_image {
        width: 60%;
    }
    .process_experience_text {
        padding-right: 25%;
    }
}
@media (min-width: 800px) and (max-width:900px){
    .intro {
        top: 10%;
        width: 56%;
        padding: 2% 11%;
    }
    .cover_pic_icons {
        bottom: 24%;
    }
    .arrow_cover {
        width: 12%;
        height: 6%;
        top: 32%;
        right: 4%;
    }
    .square {
        top: 32%;
        width: 8%;
        height: 4%;
        left: 18%;
    }
    .cover_pic_icons ul li {
        display: none;
    }
    .service_image {
        margin-top: 6%;
        width: 88%;
    }
    .service_process_image {
        margin-top: 15%;
        width: 70%;
    }
    .service_experience_text {
        padding-left: 8%;
    }
    .service_experience_text i {
        left: 75%;
    }
}
@media (min-width: 768px) and (max-width:800px){
    .heading_section {
        padding: 2% 7%;
        font-size: 18px;
    }
    .intro {
        width: 46%;
        top: 8%;
        padding: 2% 11%;
    }
    .intro h2 {
        font-size: 20px;
    }
    .arrow_cover {
        width: 12%;
        height: 6%;
        top: 30%;
        right: 5%;
    }
    .navigation_icons_left li a {
        font-size: 15px;
    }
    .other_icons{
        flex: 1;
        padding: 0;
        margin: auto;
    }
    .square {
        left: 18%;
        top: 30%;
        width: 10%;
        height: 5%;
    }
    .display_contents {
        margin-top: 9px;
    }
    .display_contents li {
        font-size: 1px;
    }
    .cover_pic_icons {
        bottom: 35%;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 25px;
    }
    .quality h3,
    .delivery h3,
    .warranty h3 {
        font-size: 18px;
    }
    .service_image {
        width: 60%;
    }
    .service_experience_text i {
        font-size: 32px;
        left: 52%;
    }
    .service_process_image {
        padding-top: 30%;
        width: 60%;
        position: relative;
    }
    .process_experience_text {
        padding-right: 8%;
    }
    .service_image {
        position: relative
    }
    .learn_more {
        position: absolute;
        left: 284px;
        width: 130px;
        height: 45px;
    }
    .service_experience {
        padding: 2%;
    }
    .service_experience_text {
        padding-left: 7%;
    }
    .process_experience {
        margin-top: 6%;
   }
    .process_experience_heading h2 {
        position: absolute;
        left: 34%;
    }
    .process_experience_text_content {
        margin-top: 20%;
    }
    .numbers_of_experience h2 {
        font-size: 25px;
    }
    .feedback_arrow_icon i {
        font-size: 28px;
    }
    .feedback1 i, .feedback2 i {
        font-size: 30px;
    }
    .feedback1, .feedback2 {
        padding: 22px;
    }
    .subscription_box {
        margin-left: 12%;
        width: 58%;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    nav input{
        display: none;
    }
    .header_text{
        flex: 3;
        margin-top: 0;
    }
    .checkbutton i{
        display: block;
    }
    #navLinks{
        position: absolute;
        top: 16px;
        right: 47px;
        z-index: 3;
        text-align: right;
    }
    #checking:checked ~ .navigation_icons_left{
        display: block;
        background-color: #5a6e79;
        position: fixed;
        top:50px;
        right: 1px;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    .navigation_icons{
        flex: 1;
    }
    .navigation_icons_left{
        display: none;
    }
    .navigation_icons_left li a{
        color: #fcfffd;
        font-size: 1px;
    }
    .other_icons{
        flex: 1;
        padding: 0;
        margin: -5px;
    }
    .other_icons li:last-child{
        display: none;
    }
    .heading_section {
        padding: 3% 19px;
    }
    .square,
    .arrow_cover,
    .cover_pic_icons {
        display: none;
    }
    .cover_pic img {
        padding: 0;
    }
    .cover_pic{
        padding: 0;
    }
    .benefits,
    .service_experience,
    .customer_feedback {
        flex-direction: column;
    }
    .product_benefits {
        font-family: 'Poppins', sans-serif;
        padding: 5%;
    }
    .intro {
        width: 55%;
        top: 8%;
        padding: 2% 11%;
    }
    .intro h2 {
        font-size: 18px;
        margin: 0;
    }
    .intro p {
        font-size: 1px;
    }
    .quality h3, .delivery h3, .warranty h3 {
        font-size: 20px;
        margin: 0;
    }
    .product_benefits_heading h2, .service_experience_text h2, .process_experience_heading h2, .feedback_heading h2, .about h2 {
        font-size: 24px;
    }
    .service_image {
        width: 100%;
        padding: 0;
        margin-bottom: 4%;
    }
    .service_experience_text {
        padding-left: 5%;
    }
    .service_experience_text i {
        display: none;
    }
    .vertical_line1 {
        height: 94px;
    }
    .learn_more {
        left: 140px;
        width: 109px;
        height: 42px;
    }    
    .inner_bottom_content {
        flex-direction: column;
    }
    .inner_bottom {
        padding: 8%;
    }
    .process_experience {
        flex-direction: column;
        margin-top: 16%;
    }
    .service_process_image {
        padding-top: 18%;
        width: 100%;
    }
    .subscription_box {
        margin-left: -2%;
        width: 89%;
    }
    .about_links,
    .company_links,
    .support_links,
    .social_media_links,
    .social_media_icons {
        padding-left: 17%;
    }
    .process_experience_heading h2 {
        left: 18%;
    }
    .process_experience_text h3 {
        margin-top: 10%;
    }
    .numbers_of_experience {
        gap: 18%;
    }
    .feedback_arrow_icon i {
        font-size: 25px;
    }
    .feedback_arrow_icon {
        gap: 8px;
    }
    .feedback1 i, .feedback2 i {
        font-size: 35px;
    }
    .feedback1, .feedback2 {
        padding: 25px;
        margin: 2% 0;
    }
}
@media (min-width: 374px) and (max-width: 425px) {
    nav input{
        display: none;
    }
    .header_text{
        flex: 3;
        margin-top: 0;
    }
    .checkbutton i{
        display: block;
    }
    #navLinks{
        position: absolute;
        top: 16px;
        right: 47px;
        z-index: 3;
        text-align: right;
    }
    #checking:checked ~ .navigation_icons_left{
        display: block;
        background-color: #5a6e79;
        position: fixed;
        top:50px;
        right: 1px;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    .navigation_icons{
        flex: 1;
    }
    .navigation_icons li {
        display: block;
    }
    .navigation_icons_left {
        font-size: 1px;
        display: none;
    }
    .navigation_icons_left li a{
        color: #fcfffd;
    }
    .heading_section {
        padding: 3% 19px;
    }
    .header_text {
        font-size: 16px;
    }
    .navigation_icons_left li {
        padding: 1px 12px;
    }
    .other_icons {
        margin: 1px;
    }
    .other_icons{
        flex: 1;
        padding: 0;
        margin: -5px;
    }
    .cover_pic img {
        padding: 0;
    }
    .numbers_of_experience {
        gap: 15%;
    }
    .square,
    .arrow_cover,
    .cover_pic_icons {
        display: none;
    }
    .benefits,
    .service_experience,
    .customer_feedback {
        flex-direction: column;
    }
    .intro {
        width: 72%;
        height: 15%;
        top: 88px;
        padding: 2% 3%;
        left: 0;
    }
    .intro h2 {
        font-size: 18px;
        margin: 0;
    }
    .intro p {
        font-size: 3px;
    }
    .other_icons li:last-child{
        display: none;
    }
    .product_benefits {
        margin-top: 0;
    }
    .quality h3, .delivery h3, .warranty h3 {
        font-size: 19px;
    }
    .service_experience_text {
        padding-left: 0;
    }
    .service_experience_text i {
        display: none;
    }
    .service_image {
        margin-bottom: 4%;
        width: 100%;
    }
    .learn_more {
        left: 112px;
        width: 120px;
        height: 45px;
    }
    .horizondal_line {
        margin-right: 22px;
    }
    .process_experience_heading h2 {
        left: 18%;
        margin-bottom: 5%;
    }
    .process_experience_text h3 {
        margin-top: 10%;
    }
    .vertical_line1 {
        height: 128px;
    }
    .process_experience {
        flex-direction: column;
        margin-top: 0;
    }
    .service_process_image {
        padding-top: 7%;
        width: 100%;
        margin-bottom: 5%;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 22px;
    }
    .numbers_of_experience {
        gap: 15%;
    }
    .feedback_arrow_icon {
        gap: 9px;
    }
    .feedback1 i, .feedback2 i {
        font-size: 33px;
    }
    .feedback_arrow_icon i {
        font-size: 25px;
    }
    .feedback1, .feedback2 {
        padding: 30px;
        margin: 2% 0;
    }
    .subscription_box {
        margin-left: 3%;
        width: 80%;
    }
    .inner_bottom_content {
        flex-direction: column;
    }
    }
@media (min-width: 300px)  and (max-width: 374px) {
    nav input{
        display: none;
    }
    .header_text{
        flex: 3;
        margin-top: 0;
    }
    .checkbutton i{
        display: block;
    }
    #navLinks{
        position: absolute;
        top: 16px;
        right: 47px;
        z-index: 3;
        text-align: right;
    }
    #checking:checked ~ .navigation_icons_left{
        display: block;
        background-color: #5a6e79;
        position: fixed;
        top:50px;
        right: 1px;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    .navigation_icons{
        position: relative;
    }
    .navigation_icons li {
        display: block;
    }
    .navigation_icons_left {
        font-size: 1px;
        display: none;
    }
    .navigation_icons_left li a{
        color: #fcfffd;
    }
    .other_icons{
        flex: 1;
        padding-top: 80%;
        margin: 0;
        padding-left: 0;
    }
    .other_icons li:last-child{
        display: none;
    }
    #checking:checked ~ .navigation_icons_left{
        display: block;
        background-color: #5a6e79;
        position: fixed;
        top:50px;
        right: 1px;
        padding: 0;
        text-align: center;
        cursor: pointer;
    }
    .cover_pic {
        padding: 0%;
    }

    .cover_pic_icons {
        display: flex;
        flex-direction: column;
        list-style: none;
        position: absolute;
        right: 3%;
        bottom: 10%;
    }
    .cover_pic img {
        padding: 0;
    }
    .benefits,
    .service_experience,
    .customer_feedback {
        flex-direction: column;
    }
    .heading_section {
        font-size: 3px;
        padding: 4% 15px;
    }
    .arrow_cover {
        width: 10%;
        height: 9%;
        bottom: -2%;
    }
    .square,
    .arrow_cover,
    .cover_pic_icons {
        display: none;
    }
    .arrow_cover i {
        font-size: 24px;
    }
    .navigation_icons_left li a {
        font-size: 9px;

    }
    .navigation_icons_left li {
        padding: 2px 14px;
    }
    .square {
        left: 21%;
        bottom: -3%;
        width: 8%;
        height: 7%;
    }
    .intro {
        width: 62%;
        height: 16%;
        top: 68px;
        padding: 2% 3%;
        left: 0;
    }
    .intro p {
        font-size:1px;
    }
    .intro h2 {
        font-size: 20px;
        margin: 0;
    }
    .horizondal_line {
        margin-right: 17px;
    }
    .service_image {
        width: 100%;
        padding: 0;
        margin-bottom: 5%;
    }
    .product_benefits_heading h2,
    .service_experience_text h2,
    .process_experience_heading h2,
    .feedback_heading h2,
    .about h2 {
        font-size: 22px;
    }
    .quality h3,
    .delivery h3,
    .warranty h3 {
        font-size: 16px;
    }
    .product_benefits {
        margin-top: 10%;
    }
    .service_experience_text {
        padding-left: 4%;
    }
    .service_experience_text i {
       display: none;
    }
    .learn_more {
        left: 104px;
        width: 103px;
        height: 38px;
    }
    .numbers h4 {
        height: 45px;
        width: 45px;
    }
    .vertical_line1 {
        height: 135px;
    }
    .process_experience_heading h2 {
        left: 7%;
    }
    .process_experience_text h3 {
        margin-top: 12%;
    }
    .process_experience {
        flex-direction: column;
        margin-top: 16%;
    }
    .service_process_image {
        padding-top: 7%;
        width: 100%;
        margin-bottom: 5%;
    }
    .feedback_arrow_icon {
        gap: 5px;
    }
    .feedback1,
    .feedback2 {
        background-color: #5a6e79;
        margin: 2% 0;
        padding: 18px;
    }
    .feedback1 i, .feedback2 i {
        font-size: 33px;
    }
    .feedback_arrow_icon i {
        font-size: 25px;
    }
    .display_contents li {
        font-size: 1px;
    }
    .numbers_of_experience {
        gap: 10%;
    }
    .numbers_of_experience h2 {
        font-size: 22px;
    }
    .about_links h3, .company_links h3, .support_links h3, .social_media_links h3, .social_media_icons h3{
        margin-bottom: 3px;
    }
    .inner_bottom_content {
        flex-direction: column;
    }
    .subscription_box {
        margin-left: -3%;
        width: 90%;
    }
}
